.thumbnails {
	border: 1px solid gray;
	padding: 10%;
}

.like {
	font-size: 2rem;
	font-family: Arial;
	background-color:lightblue;
}


.liked {
	font-size: 2rem;
	font-family: Arial;
	background-color:blue;
}
